html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  text-align: left;
  color: #FFFFFF;
  background: #673AB7;
  position: relative;
  overflow: hidden; }
  header #top-header {
    height: 250px;
    background: -webkit-linear-gradient(rgba(76, 49, 115, 0.5), rgba(76, 49, 115, 0.5)), url("../img/bg.jpg");
    background: linear-gradient(rgba(76, 49, 115, 0.5), rgba(76, 49, 115, 0.5)), url("../img/bg.jpg");
    background-blend-mode: lighten;
    background-repeat: repeat-x repeat-y;
    background-position: center 0px; }
  header #bottom-header {
    min-height: 300px; }
    header #bottom-header img {
      width: 75px;
      height: 75px;
      position: absolute;
      top: -40px; }
    header #bottom-header .contentfade {
      position: relative; }
  header h1 {
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    font-weight: 100;
    font-size: 4.5rem;
    margin-bottom: 10px;
    font-family: 'Montserrat'; }
  header p {
    text-transform: uppercase;
    font-size: 14pt;
    opacity: 0.8;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; }
  header #more {
    border: none;
    outline: none;
    box-shadow: 0 0 33px rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
    margin-top: 20px;
    color: #727272;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 4px 4px 0 0; }
  header #content {
    text-align: center;
    position: relative;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    font-size: 3rem; }
    header #content span {
      font-family: 'Montserrat';
      font-weight: 300; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

html,
body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  background-color: #EBEBEB; }

.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans'; }

hr.half-rule {
  border: 0;
  height: 0;
  border-bottom: 4px solid rgba(133, 133, 133, 0.25);
  width: 100px;
  margin: 15px auto; }

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto; }

#sticky {
  text-align: left;
  position: relative;
  z-index: 1000;
  box-shadow: 0 0px 0px rgba(128, 128, 128, 0);
  padding: 15px;
  width: 100%; }
  #sticky a {
    color: #727272;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    opacity: 0.7;
    font-size: 2rem; }
    #sticky a:hover {
      color: #009688;
      background-color: rgba(0, 0, 0, 0.05); }
  #sticky.sticky {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0; }

.push {
  position: relative; }

nav {
  background-color: #212121;
  height: 100vh;
  z-index: 1000;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.6); }
  nav ul {
    text-align: right;
    list-style-type: none;
    margin: 0; }
    nav ul li:not(:first-child) {
      border-top: 1px solid rgba(252, 252, 252, 0.2); }
      nav ul li:not(:first-child):hover {
        background-color: rgba(252, 252, 252, 0.1); }
    nav ul li a {
      color: white;
      width: 100%;
      text-decoration: none;
      display: inline-block;
      padding: 20px;
      text-transform: uppercase; }
      nav ul li a.brand {
        text-transform: inherit;
        font-family: 'Megrim';
        padding: 30px 20px;
        font-size: 2rem; }

section {
  position: relative;
  font-size: 14pt;
  color: #212121;
  -webkit-transform: translateY(200px) scale(0.8);
      -ms-transform: translateY(200px) scale(0.8);
          transform: translateY(200px) scale(0.8);
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.66, 0.18, 0.09, 0.97);
          transition: all 1s cubic-bezier(0.66, 0.18, 0.09, 0.97); }
  section.showing {
    -webkit-transform: translateY(0px) scale(1);
        -ms-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    opacity: 1; }
  section p {
    opacity: 0.7; }

#featureOne {
  padding: 160px 0;
  background-color: #fff; }

#featureTwoInner {
  position: relative;
  padding: 160px 0; }

#featureThree {
  padding: 160px 0;
  background-color: white; }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  position: relative;
  margin-bottom: -30px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .triangle.white {
    border-color: #ffffff transparent transparent transparent; }
  .triangle.purple {
    border-color: #673AB7 transparent transparent transparent; }

.about p {
  line-height: 145%; }

.about .pad-top {
  padding-top: 50px; }

.about h3 {
  font-size: 1.6rem;
  padding-bottom: 10px; }

.about img {
  display: block;
  margin: 0 auto; }

.about .flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-header {
  font-size: 2.125rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: #727272; }

#team {
  font-family: 'Nunito'; }
  #team .pad-col:first-child {
    padding-right: 20px; }
  #team .pad-col:last-child {
    padding-left: 20px; }
  #team .inner {
    box-shadow: 3px 3px 0 rgba(182, 182, 182, 0.3);
    background-color: #fff;
    border-radius: 4px;
    margin-top: 100px; }
  #team .profile-team {
    padding: 30px;
    position: relative;
    padding-top: 100px; }
    #team .profile-team img {
      display: block;
      margin: 0 auto;
      max-width: 150px;
      width: 100%;
      height: auto;
      border-radius: 50%;
      border: 6px solid white;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #team .profile-team h3 {
      text-align: center;
      text-transform: uppercase;
      color: #727272;
      font-size: 1.5rem;
      font-weight: 600; }
    #team .profile-team p.tag {
      color: #009688;
      text-align: center;
      font-size: 1rem;
      text-transform: uppercase;
      font-style: italic; }
    #team .profile-team p.about-me {
      line-height: 160%;
      margin: 20px 0 0; }
  #team .social {
    background-color: #009688;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 0 0 4px 4px;
    text-align: center;
    font-size: 1.8rem; }
    #team .social a {
      color: white;
      padding: 0 5px; }

#contact {
  background-color: #673AB7;
  padding: 100px 0;
  text-align: center;
  color: white; }
  #contact h2 {
    color: white; }
  #contact hr {
    border-bottom: 4px solid rgba(252, 252, 252, 0.4); }
  #contact input,
  #contact textarea {
    width: 100%;
    background-color: #512DA8;
    padding: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-weight: 400;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
    #contact input:focus,
    #contact textarea:focus {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); }
  #contact input[type='submit'] {
    background-color: #009688;
    text-transform: uppercase;
    font-size: 0.825rem;
    position: relative;
    top: 0px;
    box-shadow: 0 6px 0 #00877a;
    -webkit-transition: all 0.1s;
            transition: all 0.1s; }
    #contact input[type='submit']:hover {
      top: 3px;
      box-shadow: 0 3px 0 #00877a; }
    #contact input[type='submit']:focus {
      top: 6px;
      box-shadow: 0 0px 0 #00877a; }
  #contact .pad-col {
    padding: 20px; }

footer {
  background-color: #212121;
  padding: 60px;
  color: white; }

@media screen and (max-width: 768px) {
  header {
    text-align: center; }
    header h1 {
      font-size: 3rem; }
  #team .pad-col:first-child {
    padding-right: 0px; }
  #team .pad-col:last-child {
    padding-left: 0px; } }
