section{
	position: relative;
	font-size: 14pt;
	color: $primary-text-color;
	transform: translateY(200px) scale(0.8);
	opacity: 0;
	transition: all 1s cubic-bezier(.66,.18,.09,.97);
	&.showing{
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
	p{
		opacity: 0.7;
	}
}
#featureOne{	
	padding: 160px 0;
	background-color: #fff;
}
#featureTwoInner{	
	position: relative;
	padding: 160px 0;
}
#featureThree{
	padding: 160px 0;
	background-color: white;
}
.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 50px 0 50px;
	position: relative;
	margin-bottom: -30px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	&.white{
		border-color: #ffffff transparent transparent transparent;
	}
	&.purple{
		border-color: $primary-color transparent transparent transparent;
	}
}
.about{
	p{
		// margin-bottom: 15px;
		line-height: 145%;
	}
	.pad-top{
		padding-top: 50px;
	}
	h3{
		font-size: 1.6rem;
		padding-bottom: 10px;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	.flex-center{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.philosophy{
	p{
		margin-bottom: 20px;
		font-size: 1rem;
	}
	h4{
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	h5{
		font-size: 1rem;
		margin: 25px 0 10px;
	}
	.pad-col{
		padding: 20px
	}
	.left{
		border-bottom: 4px solid rgba(0,150,136, 0.55);
		width: 40px;
		margin: 15px 0;
	}
	p.capabilities{
		margin-bottom: 0px;
		margin-left: 10px;
	}
}
.section-header{
	font-size: 2.125rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	color: $secondary-text-color;
}
#team{
	font-family: 'Nunito';
	.pad-col{
		&:first-child{
			padding-right: 20px;
		}
		&:last-child{
			padding-left: 20px;
		}
	}
	.inner{
		box-shadow: 3px 3px 0 rgba(182,182,182, 0.3);
		background-color: #fff;
		border-radius: 4px;
		margin-top: 100px;
	}
	.profile-team{
		padding: 30px;
		position: relative;
		padding-top: 100px;
		img{
			display: block;
			margin: 0 auto;
			max-width: 150px;
			width: 100%;
			height: auto;
			border-radius: 50%;
			border: 6px solid white;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		h3{
			text-align: center;
			text-transform: uppercase;
			// letter-spacing: 2px;
			color: $secondary-text-color;
			font-size: 1.5rem;
			font-weight: 600;
		}
		p.tag{
			color: $accent-color;
			text-align: center;
			font-size: 1rem;
			text-transform: uppercase;
			font-style: italic;
		}
		p.about-me{
			font-size: 1rem;
			line-height: 160%;
			margin: 20px 0 0;
		}
	}
	.social{
		background-color: $accent-color;
		color: #ffffff;
		padding: 20px 30px;
		border-radius: 0 0 4px 4px;
		text-align: center;
		font-size: 1.8rem;
		a{
			color: white;
			padding: 0 5px;
		}

	}
}
#contact{
	background-color: $primary-color;
	padding: 100px 0;
	text-align: center;
	color: white;
	h2{
		color: white;
	}
	hr{
		border-bottom: 4px solid rgba(252, 252, 252, 0.4);
	}
	input,
	textarea{
		width: 100%;
		background-color: $primary-color-dark;
		padding: 20px;
		border-radius: 4px;
		outline: none;
		border: none;
		font-weight: 400;
		transition: all 0.2s;
		&:focus{
			box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
		}
	}
	input[type='submit']{
		background-color: $accent-color;
		text-transform: uppercase;
		font-size: 0.825rem;
		position: relative;
		top: 0px;
		box-shadow: 0 6px 0 #00877a;
		transition: all 0.1s;
		&:hover{
			top:3px;
			box-shadow: 0 3px 0 #00877a;
		}
		&:focus{
			top:6px;
			box-shadow: 0 0px 0 #00877a;
		}
	}
	.pad-col{
		padding: 20px;
	}
}