@media screen and (max-width: 768px) {
	header{
		text-align: center;
		h1{
			font-size: 3rem;
		}
	}
	#team .pad-col{
		&:first-child{
			padding-right: 0px;
		}
		&:last-child{
			padding-left: 0px;
		}
	}
	#about-image{
		padding-bottom: 40px;
	}
}