*{
	box-sizing:border-box;
	font-smoothing:antialiased;
	-webkit-font-smoothing: antialiased;
	
}
html,
body{
	font-family: 'Open Sans';
	font-weight: 400;
	margin: 0;
	padding: 0;
	font-smoothing:antialiased;
	background-color: $background-color;
} 
#page-wrapper{
	// overflow: hidden;

}
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans';
}
hr.half-rule{
	border: 0;
    height: 0;
    border-bottom: 4px solid rgba(133, 133, 133, 0.25);
    width: 100px;
    margin: 15px auto;
}
.container{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
#wrap{
	// padding-top: 50px;
}